<%- include('assets/header') %>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 mt-5">
        <h2 class="alert alert-success text-center">Add New Student</h2>

        <form method="POST">
          <form>
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input id="name" name="name" type="text" class="form-control" autocomplete="off"/>
            </div>
            <div class="mb-3">
              <label for="age" class="form-label">Age</label>
              <input id="age" name="age" type="text" class="form-control" autocomplete="off"/>
            </div>
            <div class="mb-3">
              <label for="fees" class="form-label">Fees</label>
              <input id="fees" name="fees" type="text" class="form-control" autocomplete="off" />
            </div>
            <button  type="submit" class="btn btn-primary">Submit</button>
          </form>
        </form>
      </div>

      <div class="col-sm-6 mt-5">
        <h2 class="alert alert-danger text-center">List Of Student</h2>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Age</th>
              <th scope="col">Fees</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% data.forEach((item,i)=>{ %>
            <tr>
              <td>
                <%= i+1 %>
              </td>
              <td>
                <%= item.name %>
              </td>
              <td>
                <%= item.age %>
              </td>
              <td>
                <%= item.fees %>
              </td>
              <td>
                <a href="/student/edit/<%= item._id %>">
                  <button>
                    <i class="fa fa-pen-square text-info"></i>
                  </button></a>
                <a href="/student/delete/<%= item._id %>">
                  <button>
                    <i class="fa fa-trash text-danger"></i>
                  </button>
                </from>
              </td>
            </tr>
            <% }) %>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%- include('assets/footer') %>